.companies {
    background-color: var(--white-color);
    &__list {
        display: flex;
        column-gap: 30px;
        @media screen and (min-width: 320px) {
            flex-wrap: wrap;
            align-items: baseline;
            justify-content: center;
        }
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 450px;
        }
        @media screen and (min-width: 1200px) {
            justify-content: center;
            align-items: center;
        }
    }
    &__item {
        box-sizing: border-box;
        width: 170px;
        height: 92px;
        background-color: transparent;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
    
        color: currentColor;
        transition: border-color var(--time-duration);
        &:hover, &:focus {
            border-color: var(--main-color);
        }
        @media screen and (max-width: 479px) {
            margin-bottom: 30px;
            width: 100%;
        }
        @media screen and (max-width: 1199px) {
            &:nth-child(odd) {
                margin-bottom: 30px;
            }
        }
    }
    &__icon {
        fill: #AFB1B8;
        transition: fill var(--time-duration);
        .companies__link:hover &, 
        .companies__link:focus & {
            fill: var(--main-color);
        }
    }
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
    
        height: 100%;
        width: 100%;
    }
    &__title {
        @media screen and (min-width: 480px) and (max-width: 767px) {
            width: 450px;
        }
    }
}