.examples {
    background-color: var(--white-color);
    padding-bottom: 94px;
    &__overlay {
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-align: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    
        color: var(--white-color);
        background-color: rgba(47, 48, 58, 0.8);
    
        padding: 27px 117px;
        margin: 0 auto;
    
        position: absolute;
        width: 100%;
        bottom: 0;
    }
    &__item {
        margin-right: 30px;
        position: relative;
        &:last-child {
            margin: 0px;
        }
    }
}