.navigation {
    display: flex;
    flex-direction: row;
}
.container.header {
    display: flex;
    justify-content: space-between;
}

.header {
    display: flex;
    flex-direction: row;
    background-color: var(--white-color);
    border-bottom: 1px solid #ECECEC;
}
.logo {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--main-color);
    
    padding: 25px 0px 25px;

    @media screen and (max-width: 1199px) {
        font-size: 24px;
        line-height: 0.86;
        // padding-left: 10px;
    }
    @media screen and (min-width: 768px) {
        margin-right: 88px;
        padding-left: 15px;
    }
    @media screen and (min-width: 1200px) {
        margin-right: 100px;
        padding-left: 0;
    }

    display: inline-block;
    transition: color var(--time-duration) ;
    &:hover {
        color: var(--text-color);
    }
    &.footer {
        padding-top: 10px;
        padding-bottom: 15px;
        margin-right: 0;
    }
    &-black {
        color: var(--black-color);
    }
    &-white {
        color: var(--white-color);
    }
}
.menu {
    display: flex;
    flex-direction: row;
    @media screen and (max-width: 767px) {
        display: none;
    }
    &__option {
        &:not(:last-child) {
            margin-right: 50px;
        }
    }
    &-page {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        letter-spacing: 0.02em;
        line-height: 1.14;
        
        color: var(--text-color);
    
        padding: 32px 0px 32px;
        display: inline-block;
        position: relative;
        
        transition: color var(--time-duration);
        &:hover, &:focus {
            color: var(--main-color);
        }
        &.current {
            color: var(--main-color);
            &::after {
                content: '';
                display: block;
                width: 100%;
                border-bottom: 4px var(--main-color) solid;
                border-radius: 2px; 
            
                position: absolute;
                bottom: -2px;
                margin: 0;
            }
        }
    }
}

.contacts {
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 768px) and (max-width: 1199px) {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: start;
        margin-top: 5px;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
    }
    &__option {
        @media screen and (min-width: 1200px) {
            &:last-child {
                margin-left: 50px;
            }
        }
    }
    &-info {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 32px 0px 32px;
    
        transition: color var(--time-duration);
    
        font-style: normal;
        font-weight: 500;
        font-size: 14px; 
        letter-spacing: 0.02em;
        line-height: 1.14;
    
        color: var(--icogrey-color);   
    
        margin-right: 0px;
        &:hover, &:focus {
            color: var(--main-color);
        }
        @media screen and (min-width: 768px) and (max-width: 1199px) {
            padding: 5px 15px;
            font-size: 12px;
            line-height: 0.86;
        }
    }
    &-icon {
        fill: var(--icogrey-color);
        margin-right: 10px;
        .contacts-info:hover &, .contacts-info:focus & {
            fill: var(--main-color);
        }
    }
}